@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.md-header {
    color: black;
    background-color: rgba(111, 192, 154, 1);
}

.md-header__topic {
    color: black;
}

.md-header__title .md-ellipsis {
    color: rgba(0, 0, 0, 0.9) !important;
    font-family: "Crimson Pro";
    font-size: 1.4em;
}

.md-search__button {
    color: black;
}

.md-search__button::after {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.md-search__button::before {
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.md-header__button.md-logo img {
    height: 5em;
}
